:root {
	--alert-border-radius: #{$alert-border-radius};
	--alert-border-width: #{$alert-border-width};
	--alert-font-size: #{$alert-font-size};
	--alert-padding-x: #{$alert-padding-x};
	--alert-padding-y: #{$alert-padding-y};
	--alert-lead-font-size: #{$alert-lead-font-size};
	--alert-lead-font-weight: #{$alert-lead-font-weight};
	--alert-primary-background-color: #{$alert-primary-bg};
	--alert-primary-border-color: #{$alert-primary-border-color};
	--alert-primary-color: #{$alert-primary-color};
	--alert-primary-close-color: #{$alert-primary-close-color};
	--alert-primary-close-hover-color: #{$alert-primary-close-hover-color};
	--alert-primary-lead-color: #{$alert-primary-lead-color};
	--alert-primary-link-color: #{$alert-primary-link-color};
	--alert-secondary-background-color: #{$alert-secondary-bg};
	--alert-secondary-border-color: #{$alert-secondary-border-color};
	--alert-secondary-color: #{$alert-secondary-color};
	--alert-secondary-close-color: #{$alert-secondary-close-color};
	--alert-secondary-close-hover-color: #{$alert-secondary-close-hover-color};
	--alert-secondary-lead-color: #{$alert-secondary-lead-color};
	--alert-secondary-link-color: #{$alert-secondary-link-color};
	--alert-success-background-color: #{$alert-success-bg};
	--alert-success-border-color: #{$alert-success-border-color};
	--alert-success-color: #{$alert-success-color};
	--alert-success-close-color: #{$alert-success-close-color};
	--alert-success-close-hover-color: #{$alert-success-close-hover-color};
	--alert-success-lead-color: #{$alert-success-lead-color};
	--alert-success-link-color: #{$alert-success-link-color};
	--alert-info-background-color: #{$alert-info-bg};
	--alert-info-border-color: #{$alert-info-border-color};
	--alert-info-color: #{$alert-info-color};
	--alert-info-close-color: #{$alert-info-close-color};
	--alert-info-close-hover-color: #{$alert-info-close-hover-color};
	--alert-info-lead-color: #{$alert-info-lead-color};
	--alert-info-link-color: #{$alert-info-link-color};
	--alert-warning-background-color: #{$alert-warning-bg};
	--alert-warning-border-color: #{$alert-warning-border-color};
	--alert-warning-color: #{$alert-warning-color};
	--alert-warning-close-color: #{$alert-warning-close-color};
	--alert-warning-close-hover-color: #{$alert-warning-close-hover-color};
	--alert-warning-lead-color: #{$alert-warning-lead-color};
	--alert-warning-link-color: #{$alert-warning-link-color};
	--alert-danger-background-color: #{$alert-danger-bg};
	--alert-danger-border-color: #{$alert-danger-border-color};
	--alert-danger-color: #{$alert-danger-color};
	--alert-danger-close-color: #{$alert-danger-close-color};
	--alert-danger-close-hover-color: #{$alert-danger-close-hover-color};
	--alert-danger-lead-color: #{$alert-danger-lead-color};
	--alert-danger-link-color: #{$alert-danger-link-color};
	--alert-light-background-color: #{$alert-light-bg};
	--alert-light-border-color: #{$alert-light-border-color};
	--alert-light-color: #{$alert-light-color};
	--alert-light-close-color: #{$alert-light-close-color};
	--alert-light-close-hover-color: #{$alert-light-close-hover-color};
	--alert-light-lead-color: #{$alert-light-lead-color};
	--alert-light-link-color: #{$alert-light-link-color};
	--alert-dark-background-color: #{$alert-dark-bg};
	--alert-dark-border-color: #{$alert-dark-border-color};
	--alert-dark-color: #{$alert-dark-color};
	--alert-dark-close-color: #{$alert-dark-close-color};
	--alert-dark-close-hover-color: #{$alert-dark-close-hover-color};
	--alert-dark-lead-color: #{$alert-dark-lead-color};
	--alert-dark-link-color: #{$alert-dark-link-color};
	--breadcrumb-background-color: #{$breadcrumb-bg};
	--breadcrumb-border-radius: #{$breadcrumb-border-radius};
	--breadcrumb-font-size: #{$breadcrumb-font-size};
	--breadcrumb-font-weight: #{$breadcrumb-font-weight};
	--breadcrumb-padding-x: #{$breadcrumb-padding-x};
	--breadcrumb-padding-y: #{$breadcrumb-padding-y};
	--breadcrumb-link-color: #{$breadcrumb-link-color};
	--breadcrumb-link-text-decoration: #{$breadcrumb-link-text-decoration};
	--breadcrumb-link-hover-color: #{$breadcrumb-link-hover-color};
	--breadcrumb-link-hover-text-decoration: #{$breadcrumb-link-hover-text-decoration};
	--breadcrumb-divider: #{$breadcrumb-divider};
	--breadcrumb-divider-color: #{$breadcrumb-divider-color};
	--breadcrumb-item-padding: #{$breadcrumb-item-padding};
	--breadcrumb-active-color: #{$breadcrumb-active-color};
	--breadcrumb-active-font-weight: #{$breadcrumb-active-font-weight};
	--btn-border-radius: #{$btn-border-radius};
	--btn-border-width: #{$btn-border-width};
	--btn-box-shadow: #{$btn-box-shadow};
	--btn-font-family: #{$btn-font-family};
	--btn-font-size: #{$btn-font-size};
	--btn-font-weight: #{$btn-font-weight};
	--btn-padding-x: #{$btn-padding-x};
	--btn-padding-y: #{$btn-padding-y};
	--btn-focus-box-shadow: #{$btn-focus-box-shadow};
	--card-bg: #{$card-bg};
	--card-border-color: #{$card-border-color};
	--card-border-style: #{$card-border-style};
	--card-border-width: #{$card-border-width};
	--card-border-radius: #{$card-border-radius};
	--card-box-shadow: #{$card-box-shadow};
	--card-color: #{$card-color};
	--card-margin-bottom: #{$card-margin-bottom};
	--card-spacer-x: #{$card-spacer-x};
	--card-spacer-y: #{$card-spacer-y};
	--card-body-padding-bottom: #{$card-body-padding-bottom};
	--card-body-padding-left: #{$card-body-padding-left};
	--card-body-padding-right: #{$card-body-padding-right};
	--card-body-padding-top: #{$card-body-padding-top};
	--card-section-header-color: #{$card-section-header-color};
	--card-section-header-font-size: #{$card-section-header-font-size};
	--card-section-header-font-weight: #{$card-section-header-font-weight};
	--card-section-header-line-height: #{$card-section-header-line-height};
	--card-section-header-margin-bottom: #{$card-section-header-margin-bottom};
	--card-section-header-padding: #{$card-section-header-padding};
	--card-section-header-text-transform: #{$card-section-header-text-transform};
	--card-img-overlay-padding: #{$card-img-overlay-padding};
	--card-divider-bg: #{$card-divider-bg};
	--card-divider-height: #{$card-divider-height};
	--card-divider-spacer-x: #{$card-divider-spacer-x};
	--card-divider-spacer-y: #{$card-divider-spacer-y};
	--checkbox-left-card-padding: #{$checkbox-left-card-padding};
	--checkbox-right-card-padding: #{$checkbox-right-card-padding};
	--checkbox-position: #{$checkbox-position};
	--form-check-card-checked-box-shadow: #{$form-check-card-checked-box-shadow};
	--custom-control-indicator-background-color: #{$custom-control-indicator-bg};
	--custom-control-indicator-border-color: #{$custom-control-indicator-border-color};
	--custom-control-indicator-border-width: #{$custom-control-indicator-border-width};
	--custom-control-indicator-box-shadow: #{$custom-control-indicator-box-shadow};
	--custom-control-indicator-position-top: #{$custom-control-indicator-position-top};
	--custom-control-indicator-focus-border-color: #{$custom-control-indicator-focus-border-color};
	--custom-control-indicator-focus-box-shadow: #{$custom-control-indicator-focus-box-shadow};
	--custom-control-indicator-active-background-color: #{$custom-control-indicator-active-bg};
	--custom-control-indicator-active-border-color: #{$custom-control-indicator-active-border-color};
	--custom-control-indicator-active-box-shadow: #{$custom-control-indicator-active-box-shadow};
	--custom-control-indicator-disabled-background-color: #{$custom-control-indicator-disabled-bg};
	--custom-control-indicator-disabled-border-color: #{$custom-control-indicator-disabled-border-color};
	--custom-control-indicator-checked-background-color: #{$custom-control-indicator-checked-bg};
	--custom-control-indicator-checked-border-color: #{$custom-control-indicator-checked-border-color};
	--custom-control-indicator-checked-box-shadow: #{$custom-control-indicator-checked-box-shadow};
	--custom-control-indicator-checked-color: #{$custom-control-indicator-checked-color};
	--custom-control-indicator-checked-active-background-color: #{$custom-control-indicator-checked-active-bg};
	--custom-control-indicator-checked-active-border-color: #{$custom-control-indicator-checked-active-border-color};
	--custom-control-indicator-checked-disabled-background-color: #{$custom-control-indicator-checked-disabled-bg};
	--custom-control-indicator-checked-disabled-border-color: #{$custom-control-indicator-checked-disabled-border-color};
	--custom-checkbox-indicator-border-radius: #{$custom-checkbox-indicator-border-radius};
	--custom-checkbox-indicator-icon-checked: #{$custom-checkbox-indicator-icon-checked};
	--custom-checkbox-indicator-icon-checked-background-size: #{$custom-checkbox-indicator-icon-checked-bg-size};
	--custom-checkbox-indicator-indeterminate-background-color: #{$custom-checkbox-indicator-indeterminate-bg};
	--custom-checkbox-indicator-indeterminate-border-color: #{$custom-checkbox-indicator-indeterminate-border-color};
	--custom-checkbox-indicator-indeterminate-box-shadow: #{$custom-checkbox-indicator-indeterminate-box-shadow};
	--custom-checkbox-indicator-indeterminate-color: #{$custom-checkbox-indicator-indeterminate-color};
	--custom-checkbox-indicator-icon-indeterminate: #{$custom-checkbox-indicator-icon-indeterminate};
	--drilldown-width: #{$drilldown-width};
	--drilldown-inline-scroller-max-height: #{$drilldown-inline-scroller-max-height};
	--dropdown-background-color: #{$dropdown-bg};
	--dropdown-border-color: #{$dropdown-border-color};
	--dropdown-border-style: #{$dropdown-border-style};
	--dropdown-border-width: #{$dropdown-border-width};
	--dropdown-border-radius: #{$dropdown-border-radius};
	--dropdown-box-shadow: #{$dropdown-box-shadow};
	--dropdown-color: #{$dropdown-color};
	--dropdown-font-size: #{$dropdown-font-size};
	--dropdown-item-padding-x: #{$dropdown-item-padding-x};
	--dropdown-item-padding-y: #{$dropdown-item-padding-y};
	--dropdown-item-indicator-size: #{$dropdown-item-indicator-size};
	--dropdown-item-indicator-spacer-x: #{$dropdown-item-indicator-spacer-x};
	--dropdown-item-color: #{$dropdown-link-color};
	--dropdown-item-font-weight: #{$dropdown-link-font-weight};
	--dropdown-item-hover-background-color: #{$dropdown-link-hover-bg};
	--dropdown-item-hover-color: #{$dropdown-link-hover-color};
	--dropdown-item-active-background-color: #{$dropdown-link-active-bg};
	--dropdown-item-active-color: #{$dropdown-link-active-color};
	--dropdown-item-active-font-weight: #{$dropdown-link-active-font-weight};
	--dropdown-item-disabled-color: #{$dropdown-link-disabled-color};
	--dropdown-header-color: #{$dropdown-header-color};
	--dropdown-header-font-size: #{$dropdown-header-font-size};
	--dropdown-header-margin-bottom: #{$dropdown-header-margin-bottom};
	--dropdown-header-margin-top: #{$dropdown-header-margin-top};
	--dropdown-header-padding-x: #{$dropdown-header-padding-x};
	--dropdown-header-padding-y: #{$dropdown-header-padding-y};
	--dropdown-header-text-transform: #{$dropdown-header-text-transform};
	--dropdown-subheader-color: #{$dropdown-subheader-color};
	--dropdown-subheader-font-size: #{$dropdown-subheader-font-size};
	--dropdown-subheader-font-weight: #{$dropdown-subheader-font-weight};
	--dropdown-subheader-margin-bottom: #{$dropdown-subheader-margin-bottom};
	--dropdown-subheader-margin-top: #{$dropdown-subheader-margin-top};
	--dropdown-subheader-padding-x: #{$dropdown-subheader-padding-x};
	--dropdown-subheader-padding-y: #{$dropdown-subheader-padding-y};
	--dropdown-subheader-text-transform: #{$dropdown-subheader-text-transform};
	--dropdown-caption-color: #{$dropdown-caption-color};
	--dropdown-caption-font-size: #{$dropdown-caption-font-size};
	--dropdown-caption-font-weight: #{$dropdown-caption-font-weight};
	--dropdown-divider-bg: #{$dropdown-divider-bg};
	--dropdown-divider-margin-y: #{$dropdown-divider-margin-y};
	--input-background-color: #{$input-bg};
	--input-border-color: #{$input-border-color};
	--input-border-radius: #{$input-border-radius};
	--input-border-width: #{$input-border-width};
	--input-box-shadow: #{$input-box-shadow};
	--input-color: #{$input-color};
	--input-height: #{$input-height};
	--input-padding-x: #{$input-padding-x};
	--input-padding-y: #{$input-padding-y};
	--input-placeholder-color: #{$input-placeholder-color};
	--input-focus-background-color: #{$input-focus-bg};
	--input-focus-border-color: #{$input-focus-border-color};
	--input-focus-box-shadow: #{$input-focus-box-shadow};
	--input-disabled-color: #{$input-disabled-color};
	--input-disabled-background-color: #{$input-disabled-bg};
	--input-disabled-border-color: #{$input-disabled-border-color};
	--input-placeholder-disabled-color: #{$input-placeholder-disabled-color};
	--input-label-color: #{$input-label-color};
	--input-label-font-weight: #{$input-label-font-weight};
	--input-label-margin-bottom: #{$input-label-margin-bottom};
	--input-label-disabled-color: #{$input-label-disabled-color};
	--input-label-reference-mark-font-size: #{$input-label-reference-mark-font-size};
	--input-danger-background-color: #{$input-danger-bg};
	--input-danger-border-color: #{$input-danger-border-color};
	--input-danger-box-shadow: #{$input-danger-box-shadow};
	--input-danger-color: #{$input-danger-color};
	--input-warning-background-color: #{$input-warning-bg};
	--input-warning-border-color: #{$input-warning-border-color};
	--input-warning-box-shadow: #{$input-warning-box-shadow};
	--input-warning-color: #{$input-warning-color};
	--input-success-background-color: #{$input-success-bg};
	--input-success-border-color: #{$input-success-border-color};
	--input-success-box-shadow: #{$input-success-box-shadow};
	--input-success-color: #{$input-success-color};
	--white: #{$white};
	--black: #{$black};
	--gray-100: #{$gray-100};
	--gray-200: #{$gray-200};
	--gray-300: #{$gray-300};
	--gray-400: #{$gray-400};
	--gray-500: #{$gray-500};
	--gray-600: #{$gray-600};
	--gray-700: #{$gray-700};
	--gray-800: #{$gray-800};
	--gray-900: #{$gray-900};
	--blue-d4: #{$blue-d4};
	--blue-d3: #{$blue-d3};
	--blue-d2: #{$blue-d2};
	--blue-d1: #{$blue-d1};
	--blue: #{$blue};
	--blue-l1: #{$blue-l1};
	--blue-l2: #{$blue-l2};
	--blue-l3: #{$blue-l3};
	--blue-l4: #{$blue-l4};
	--blue-l5: #{$blue-l5};
	--indigo-d4: #{$indigo-d4};
	--indigo-d3: #{$indigo-d3};
	--indigo-d2: #{$indigo-d2};
	--indigo-d1: #{$indigo-d1};
	--indigo: #{$indigo};
	--indigo-l1: #{$indigo-l1};
	--indigo-l2: #{$indigo-l2};
	--indigo-l3: #{$indigo-l3};
	--indigo-l4: #{$indigo-l4};
	--indigo-l5: #{$indigo-l5};
	--purple-d4: #{$purple-d4};
	--purple-d3: #{$purple-d3};
	--purple-d2: #{$purple-d2};
	--purple-d1: #{$purple-d1};
	--purple: #{$purple};
	--purple-l1: #{$purple-l1};
	--purple-l2: #{$purple-l2};
	--purple-l3: #{$purple-l3};
	--purple-l4: #{$purple-l4};
	--purple-l5: #{$purple-l5};
	--pink-d4: #{$pink-d4};
	--pink-d3: #{$pink-d3};
	--pink-d2: #{$pink-d2};
	--pink-d1: #{$pink-d1};
	--pink: #{$pink};
	--pink-l1: #{$pink-l1};
	--pink-l2: #{$pink-l2};
	--pink-l3: #{$pink-l3};
	--pink-l4: #{$pink-l4};
	--pink-l5: #{$pink-l5};
	--red-d4: #{$red-d4};
	--red-d3: #{$red-d3};
	--red-d2: #{$red-d2};
	--red-d1: #{$red-d1};
	--red: #{$red};
	--red-l1: #{$red-l1};
	--red-l2: #{$red-l2};
	--red-l3: #{$red-l3};
	--red-l4: #{$red-l4};
	--red-l5: #{$red-l5};
	--orange-d4: #{$orange-d4};
	--orange-d3: #{$orange-d3};
	--orange-d2: #{$orange-d2};
	--orange-d1: #{$orange-d1};
	--orange: #{$orange};
	--orange-l1: #{$orange-l1};
	--orange-l2: #{$orange-l2};
	--orange-l3: #{$orange-l3};
	--orange-l4: #{$orange-l4};
	--orange-l5: #{$orange-l5};
	--yellow-d4: #{$yellow-d4};
	--yellow-d3: #{$yellow-d3};
	--yellow-d2: #{$yellow-d2};
	--yellow-d1: #{$yellow-d1};
	--yellow: #{$yellow};
	--yellow-l1: #{$yellow-l1};
	--yellow-l2: #{$yellow-l2};
	--yellow-l3: #{$yellow-l3};
	--yellow-l4: #{$yellow-l4};
	--yellow-l5: #{$yellow-l5};
	--green-d4: #{$green-d4};
	--green-d3: #{$green-d3};
	--green-d2: #{$green-d2};
	--green-d1: #{$green-d1};
	--green: #{$green};
	--green-l1: #{$green-l1};
	--green-l2: #{$green-l2};
	--green-l3: #{$green-l3};
	--green-l4: #{$green-l4};
	--green-l5: #{$green-l5};
	--teal-d4: #{$teal-d4};
	--teal-d3: #{$teal-d3};
	--teal-d2: #{$teal-d2};
	--teal-d1: #{$teal-d1};
	--teal: #{$teal};
	--teal-l1: #{$teal-l1};
	--teal-l2: #{$teal-l2};
	--teal-l3: #{$teal-l3};
	--teal-l4: #{$teal-l4};
	--teal-l5: #{$teal-l5};
	--cyan-d4: #{$cyan-d4};
	--cyan-d3: #{$cyan-d3};
	--cyan-d2: #{$cyan-d2};
	--cyan-d1: #{$cyan-d1};
	--cyan: #{$cyan};
	--cyan-l1: #{$cyan-l1};
	--cyan-l2: #{$cyan-l2};
	--cyan-l3: #{$cyan-l3};
	--cyan-l4: #{$cyan-l4};
	--cyan-l5: #{$cyan-l5};
	--primary: #{$primary};
	--primary-d1: #{$primary-d1};
	--primary-d2: #{$primary-d2};
	--primary-l0: #{$primary-l0};
	--primary-l1: #{$primary-l1};
	--primary-l2: #{$primary-l2};
	--primary-l3: #{$primary-l3};
	--secondary: #{$secondary};
	--secondary-d1: #{$secondary-d1};
	--secondary-d2: #{$secondary-d2};
	--secondary-l0: #{$secondary-l0};
	--secondary-l1: #{$secondary-l1};
	--secondary-l2: #{$secondary-l2};
	--secondary-l3: #{$secondary-l3};
	--info: #{$info};
	--info-d1: #{$info-d1};
	--info-d2: #{$info-d2};
	--info-l1: #{$info-l1};
	--info-l2: #{$info-l2};
	--success: #{$success};
	--success-d1: #{$success-d1};
	--success-d2: #{$success-d2};
	--success-l1: #{$success-l1};
	--success-l2: #{$success-l2};
	--warning: #{$warning};
	--warning-d1: #{$warning-d1};
	--warning-d2: #{$warning-d2};
	--warning-l1: #{$warning-l1};
	--warning-l2: #{$warning-l2};
	--danger: #{$danger};
	--danger-d1: #{$danger-d1};
	--danger-d2: #{$danger-d2};
	--danger-l1: #{$danger-l1};
	--danger-l2: #{$danger-l2};
	--light: #{$light};
	--light-d1: #{$light-d1};
	--light-d2: #{$light-d2};
	--light-l1: #{$light-l1};
	--light-l2: #{$light-l2};
	--dark: #{$dark};
	--dark-d1: #{$dark-d1};
	--dark-d2: #{$dark-d2};
	--dark-l1: #{$dark-l1};
	--dark-l2: #{$dark-l2};
	--border-width: #{$border-width};
	--border-radius: #{$border-radius};
	--border-radius-lg: #{$border-radius-lg};
	--border-radius-sm: #{$border-radius-sm};
	--border-radius-rounded: #{$rounded-border-radius};
	--border-radius-circle: #{$rounded-circle-border-radius};
	--rounded-pill: #{$rounded-pill};
	--box-shadow: #{$box-shadow};
	--box-shadow-lg: #{$box-shadow-lg};
	--box-shadow-sm: #{$box-shadow-sm};
	--transition-base: #{$transition-base};
	--transition-collapse: #{$transition-collapse};
	--transition-fade: #{$transition-fade};
	--component-transition: #{$component-transition};
	--component-active-bg: #{$component-active-bg};
	--component-active-color: #{$component-active-color};
	--component-focus-box-shadow: #{$component-focus-box-shadow};
	--component-focus-inset-box-shadow: #{$component-focus-inset-box-shadow};
	--font-family-monospace: #{$font-family-monospace};
	--font-family-sans-serif: #{$font-family-sans-serif};
	--font-family-serif: #{$font-family-serif};
	--font-family-base: #{$font-family-base};
	--font-size-base: #{$font-size-base};
	--font-size-lg: #{$font-size-lg};
	--font-size-sm: #{$font-size-sm};
	--font-weight-bold: #{$font-weight-bold};
	--font-weight-bolder: #{$font-weight-bolder};
	--font-weight-light: #{$font-weight-light};
	--font-weight-lighter: #{$font-weight-lighter};
	--font-weight-normal: #{$font-weight-normal};
	--font-weight-semi-bold: #{$font-weight-semi-bold};
	--h1-font-size: #{$h1-font-size};
	--h2-font-size: #{$h2-font-size};
	--h3-font-size: #{$h3-font-size};
	--h4-font-size: #{$h4-font-size};
	--h5-font-size: #{$h5-font-size};
	--h6-font-size: #{$h6-font-size};
	--headings-color: #{$headings-color};
	--headings-font-family: #{$headings-font-family};
	--body-bg: #{$body-bg};
	--body-color: #{$body-color};
	--link-color: #{$link-color};
	--link-decoration: #{$link-decoration};
	--link-hover-color: #{$link-hover-color};
	--link-hover-decoration: #{$link-hover-decoration};
	--display1-size: #{$display1-size};
	--display2-size: #{$display2-size};
	--display3-size: #{$display3-size};
	--display4-size: #{$display4-size};
	--display1-weight: #{$display1-weight};
	--display2-weight: #{$display2-weight};
	--display3-weight: #{$display3-weight};
	--display4-weight: #{$display4-weight};
	--display-line-height: #{$display-line-height};
	--lead-font-size: #{$lead-font-size};
	--lead-font-weight: #{$lead-font-weight};
	--text-muted: #{$text-muted};
	--blockquote-font-size: #{$blockquote-font-size};
	--blockquote-small-color: #{$blockquote-small-color};
	--blockquote-small-font-size: #{$blockquote-small-font-size};
	--hr-border-color: #{$hr-border-color};
	--hr-border-width: #{$hr-border-width};
	--hr-margin-y: #{$hr-margin-y};
	--list-group-bg: #{$list-group-bg};
	--list-group-border-color: #{$list-group-border-color};
	--list-group-border-width: #{$list-group-border-width};
	--list-group-border-radius: #{$list-group-border-radius};
	--list-group-box-shadow: #{$list-group-box-shadow};
	--list-group-color: #{$list-group-color};
	--list-group-font-size: #{$list-group-font-size};
	--list-group-margin-bottom: #{$list-group-margin-bottom};
	--list-group-margin-top: #{$list-group-margin-top};
	--list-group-action-color: #{$list-group-action-color};
	--list-group-hover-bg: #{$list-group-hover-bg};
	--list-group-action-hover-color: #{$list-group-action-hover-color};
	--list-group-action-active-bg: #{$list-group-action-active-bg};
	--list-group-action-active-color: #{$list-group-action-active-color};
	--list-group-item-padding-x: #{$list-group-item-padding-x};
	--list-group-item-padding-y: #{$list-group-item-padding-y};
	--list-group-item-flex-checkbox-offset-top: #{$list-group-item-flex-checkbox-offset-top};
	--list-group-item-flex-offset-top: #{$list-group-item-flex-offset-top};
	--list-group-item-flex-list-group-title-offset-top: #{$list-group-item-flex-list-group-title-offset-top};
	--list-group-active-bg: #{$list-group-active-bg};
	--list-group-active-border-color: #{$list-group-active-border-color};
	--list-group-active-color: #{$list-group-active-color};
	--list-group-disabled-bg: #{$list-group-disabled-bg};
	--list-group-disabled-color: #{$list-group-disabled-color};
	--list-group-header-bg: #{$list-group-header-bg};
	--list-group-header-padding-x: #{$list-group-header-padding-x};
	--list-group-header-padding-y: #{$list-group-header-padding-y};
	--list-group-title-active-color: #{$list-group-title-active-color};
	--list-group-subtext-active-color: #{$list-group-subtext-active-color};
	--list-group-detail-margin-bottom: #{$list-group-detail-margin-bottom};
	--list-group-detail-margin-top: #{$list-group-detail-margin-top};
	--list-group-link-color: #{$list-group-link-color};
	--list-group-link-hover-color: #{$list-group-link-hover-color};
	--list-group-link-active-color: #{$list-group-link-active-color};
	--list-group-notification-item-border-bottom-color: #{$list-group-notification-item-border-bottom-color};
	--list-group-notification-item-border-left-color: #{$list-group-notification-item-border-left-color};
	--list-group-notification-item-border-right-color: #{$list-group-notification-item-border-right-color};
	--list-group-notification-item-border-top-color: #{$list-group-notification-item-border-top-color};
	--list-group-notification-item-active-border-bottom-color: #{$list-group-notification-item-active-border-bottom-color};
	--list-group-notification-item-active-border-left-color: #{$list-group-notification-item-active-border-left-color};
	--list-group-notification-item-active-border-right-color: #{$list-group-notification-item-active-border-right-color};
	--list-group-notification-item-active-border-top-color: #{$list-group-notification-item-active-border-top-color};
	--list-group-notification-item-border-bottom-width: #{$list-group-notification-item-border-bottom-width};
	--list-group-notification-item-border-left-width: #{$list-group-notification-item-border-left-width};
	--list-group-notification-item-border-right-width: #{$list-group-notification-item-border-right-width};
	--list-group-notification-item-border-top-width: #{$list-group-notification-item-border-top-width};
	--modal-backdrop-bg: #{$modal-backdrop-bg};
	--modal-backdrop-opacity: #{$modal-backdrop-opacity};
	--modal-content-bg: #{$modal-content-bg};
	--modal-content-color: #{$modal-content-color};
	--modal-content-border-color: #{$modal-content-border-color};
	--modal-content-border-width: #{$modal-content-border-width};
	--modal-content-border-radius: #{$modal-content-border-radius};
	--modal-content-box-shadow-sm-up: #{$modal-content-box-shadow-sm-up};
	--modal-header-bg: #{$modal-header-bg};
	--modal-header-border-color: #{$modal-header-border-color};
	--modal-header-border-width: #{$modal-header-border-width};
	--modal-header-color: #{$modal-header-color};
	--modal-header-height: #{$modal-header-height};
	--modal-header-padding-y: #{$modal-header-padding-y};
	--modal-header-padding-x: #{$modal-header-padding-x};
	--modal-header-padding: #{$modal-header-padding};
	--modal-inner-padding: #{$modal-inner-padding};
	--modal-body-bg: #{$modal-body-bg};
	--modal-body-color: #{$modal-body-color};
	--modal-footer-margin-between: #{$modal-footer-margin-between};
	--modal-footer-bg: #{$modal-footer-bg};
	--modal-footer-border-color: #{$modal-footer-border-color};
	--modal-footer-border-width: #{$modal-footer-border-width};
	--modal-footer-box-shadow: #{$modal-footer-box-shadow};
	--modal-footer-color: #{$modal-footer-color};
	--modal-footer-height: #{$modal-footer-height};
	--modal-footer-padding-x: #{$modal-footer-padding-x};
	--modal-footer-padding-y: #{$modal-footer-padding-y};
	--modal-item-padding-x: #{$modal-item-padding-x};
	--modal-item-padding-y: #{$modal-item-padding-y};
	--modal-title-font-size: #{$modal-title-font-size};
	--modal-title-font-weight: #{$modal-title-font-weight};
	--modal-title-line-height: #{$modal-title-line-height};
	--modal-title-text-align: #{$modal-title-text-align};
	--modal-title-indicator-font-size: #{$modal-title-indicator-font-size};
	--modal-title-indicator-spacer-x: #{$modal-title-indicator-spacer-x};
	--modal-sm: #{$modal-sm};
	--modal-md: #{$modal-md};
	--modal-lg: #{$modal-lg};
	--modal-xl: #{$modal-xl};
	--modal-height-sm: #{$modal-height-sm};
	--modal-height-md: #{$modal-height-md};
	--modal-height-lg: #{$modal-height-lg};
	--modal-height-xl: #{$modal-height-xl};
	--multi-step-nav-margin-bottom: #{$multi-step-nav-margin-bottom};
	--multi-step-nav-padding-x: #{$multi-step-nav-padding-x};
	--multi-step-nav-padding-y: #{$multi-step-nav-padding-y};
	--multi-step-icon-bg: #{$multi-step-icon-bg};
	--multi-step-icon-border-color: #{$multi-step-icon-border-color};
	--multi-step-icon-border-radius: #{$multi-step-icon-border-radius};
	--multi-step-icon-border-style: #{$multi-step-icon-border-style};
	--multi-step-icon-border-width: #{$multi-step-icon-border-width};
	--multi-step-icon-color: #{$multi-step-icon-color};
	--multi-step-icon-cursor: #{$multi-step-icon-cursor};
	--multi-step-icon-font-size: #{$multi-step-icon-font-size};
	--multi-step-icon-font-weight: #{$multi-step-icon-font-weight};
	--multi-step-icon-padding-bottom: #{$multi-step-icon-padding-bottom};
	--multi-step-icon-padding-left: #{$multi-step-icon-padding-left};
	--multi-step-icon-padding-right: #{$multi-step-icon-padding-right};
	--multi-step-icon-padding-top: #{$multi-step-icon-padding-top};
	--multi-step-icon-size: #{$multi-step-icon-size};
	--multi-step-icon-transition: #{$multi-step-icon-transition};
	--multi-step-icon-hover-bg: #{$multi-step-icon-hover-bg};
	--multi-step-icon-hover-color: #{$multi-step-icon-hover-color};
	--multi-step-icon-hover-text-decoration: #{$multi-step-icon-hover-text-decoration};
	--multi-step-icon-focus-bg: #{$multi-step-icon-focus-bg};
	--multi-step-icon-focus-box-shadow: #{$multi-step-icon-focus-box-shadow};
	--multi-step-icon-focus-color: #{$multi-step-icon-focus-color};
	--multi-step-icon-focus-outline: #{$multi-step-icon-focus-outline};
	--multi-step-icon-focus-text-decoration: #{$multi-step-icon-focus-text-decoration};
	--multi-step-divider-bg: #{$multi-step-divider-bg};
	--multi-step-divider-height: #{$multi-step-divider-height};
	--multi-step-divider-spacer-x: #{$multi-step-divider-spacer-x};
	--multi-step-divider-top: #{$multi-step-divider-top};
	--multi-step-indicator-width: #{$multi-step-indicator-width};
	--multi-step-indicator-label-color: #{$multi-step-indicator-label-color};
	--multi-step-indicator-label-font-size: #{$multi-step-indicator-label-font-size};
	--multi-step-indicator-label-font-weight: #{$multi-step-indicator-label-font-weight};
	--multi-step-indicator-label-max-width: #{$multi-step-indicator-label-max-width};
	--multi-step-title-color: #{$multi-step-title-color};
	--multi-step-title-font-size: #{$multi-step-title-font-size};
	--multi-step-title-font-weight: #{$multi-step-title-font-weight};
	--multi-step-title-margin-bottom: #{$multi-step-title-margin-bottom};
	--multi-step-title-max-width: #{$multi-step-title-max-width};
	--multi-step-item-margin-bottom: #{$multi-step-item-margin-bottom};
	--multi-step-item-width: #{$multi-step-item-width};
	--multi-step-item-fixed-width: #{$multi-step-item-fixed-width};
	--multi-step-icon-complete-color: #{$multi-step-icon-complete-color};
	--multi-step-icon-complete-bg: #{$multi-step-icon-complete-bg};
	--multi-step-icon-complete-bg-image: #{$multi-step-icon-complete-bg-image};
	--multi-step-icon-complete-bg-position: #{$multi-step-icon-complete-bg-position};
	--multi-step-icon-complete-bg-size: #{$multi-step-icon-complete-bg-size};
	--multi-step-divider-complete-bg: #{$multi-step-divider-complete-bg};
	--multi-step-dropdown-indicator-complete-icon: #{$multi-step-dropdown-indicator-complete-icon};
	--multi-step-dropdown-indicator-complete-width: #{$multi-step-dropdown-indicator-complete-width};
	--multi-step-icon-active-color: #{$multi-step-icon-active-color};
	--multi-step-icon-active-bg: #{$multi-step-icon-active-bg};
	--multi-step-icon-active-bg-size: #{$multi-step-icon-active-bg-size};
	--multi-step-icon-disabled-bg: #{$multi-step-icon-disabled-bg};
	--multi-step-icon-disabled-bg-size: #{$multi-step-icon-disabled-bg-size};
	--multi-step-icon-disabled-cursor: #{$multi-step-icon-disabled-cursor};
	--multi-step-icon-disabled-opacity: #{$multi-step-icon-disabled-opacity};
	--multi-step-icon-disabled-focus-box-shadow: #{$multi-step-icon-disabled-focus-box-shadow};
	--multi-step-divider-disabled-bg: #{$multi-step-divider-disabled-bg};
	--multi-step-title-disabled-color: #{$multi-step-title-disabled-color};
	--multi-step-indicator-label-disabled-color: #{$multi-step-indicator-label-disabled-color};
	--nav-font-size: #{$nav-font-size};
	--nav-link-padding-x: #{$nav-link-padding-x};
	--nav-link-padding-y: #{$nav-link-padding-y};
	--nav-link-disabled-color: #{$nav-link-disabled-color};
	--nav-link-disabled-cursor: #{$nav-link-disabled-cursor};
	--nav-item-monospaced-size: #{$nav-item-monospaced-size};
	--nav-btn-margin-x: #{$nav-btn-margin-x};
	--nav-btn-margin-y: #{$nav-btn-margin-y};
	--nav-btn-padding-x: #{$nav-btn-padding-x};
	--nav-btn-padding-y: #{$nav-btn-padding-y};
	--nav-divider-color: #{$nav-divider-color};
	--nav-divider-margin-y: #{$nav-divider-margin-y};
	--nav-form-padding-bottom: #{$nav-form-padding-bottom};
	--nav-form-padding-left: #{$nav-form-padding-left};
	--nav-form-padding-right: #{$nav-form-padding-right};
	--nav-form-padding-top: #{$nav-form-padding-top};
	--nav-stacked-nav-form-padding-bottom: #{$nav-stacked-nav-form-padding-bottom};
	--nav-stacked-nav-form-padding-left: #{$nav-stacked-nav-form-padding-left};
	--nav-stacked-nav-form-padding-right: #{$nav-stacked-nav-form-padding-right};
	--nav-stacked-nav-form-padding-top: #{$nav-stacked-nav-form-padding-top};
	--nav-nested-margins-spacer-x: #{$nav-nested-margins-spacer-x};
	--nav-nested-spacer-x: #{$nav-nested-spacer-x};
	--nav-tabs-font-size: #{$nav-tabs-font-size};
	--nav-tabs-border-color: #{$nav-tabs-border-color};
	--nav-tabs-border-radius: #{$nav-tabs-border-radius};
	--nav-tabs-border-width: #{$nav-tabs-border-width};
	--nav-tabs-link-color: #{$nav-tabs-link-color};
	--nav-tabs-link-padding-x: #{$nav-tabs-link-padding-x};
	--nav-tabs-link-padding-y: #{$nav-tabs-link-padding-y};
	--nav-tabs-link-hover-border-color: #{$nav-tabs-link-hover-border-color};
	--nav-tabs-link-active-bg: #{$nav-tabs-link-active-bg};
	--nav-tabs-link-active-border-color: #{$nav-tabs-link-active-border-color};
	--nav-tabs-link-active-color: #{$nav-tabs-link-active-color};
	--nav-tabs-link-show-bg: #{$nav-tabs-link-show-bg};
	--nav-tabs-link-show-border-color: #{$nav-tabs-link-show-border-color};
	--nav-tabs-link-show-color: #{$nav-tabs-link-show-color};
	--nav-tabs-tab-pane-bg: #{$nav-tabs-tab-pane-bg};
	--nav-tabs-tab-pane-border-radius: #{$nav-tabs-tab-pane-border-radius};
	--nav-tabs-tab-pane-padding: #{$nav-tabs-tab-pane-padding};
	--pagination-background-color: #{$pagination-bg};
	--pagination-border-color: #{$pagination-border-color};
	--pagination-border-width: #{$pagination-border-width};
	--pagination-color: #{$pagination-color};
	--pagination-font-size: #{$pagination-font-size};
	--pagination-line-height: #{$pagination-line-height};
	--pagination-padding-x: #{$pagination-padding-x};
	--pagination-padding-y: #{$pagination-padding-y};
	--pagination-hover-bg: #{$pagination-hover-bg};
	--pagination-hover-border-color: #{$pagination-hover-border-color};
	--pagination-hover-color: #{$pagination-hover-color};
	--pagination-focus-box-shadow: #{$pagination-focus-box-shadow};
	--pagination-active-bg: #{$pagination-active-bg};
	--pagination-active-border-color: #{$pagination-active-border-color};
	--pagination-active-color: #{$pagination-active-color};
	--pagination-disabled-bg: #{$pagination-disabled-bg};
	--pagination-disabled-border-color: #{$pagination-disabled-border-color};
	--pagination-disabled-color: #{$pagination-disabled-color};
	--panel-background-color: #{$panel-bg};
	--panel-border-color: #{$panel-border-color};
	--panel-border-style: #{$panel-border-style};
	--panel-border-bottom-width: #{$panel-border-bottom-width};
	--panel-border-left-width: #{$panel-border-left-width};
	--panel-border-right-width: #{$panel-border-right-width};
	--panel-border-top-width: #{$panel-border-top-width};
	--panel-border-radius: #{$panel-border-radius};
	--panel-box-shadow: #{$panel-box-shadow};
	--panel-margin-bottom: #{$panel-margin-bottom};
	--panel-header-border-bottom-width: #{$panel-header-border-bottom-width};
	--panel-header-offset-border-radius: #{$panel-header-offset-border-radius};
	--panel-header-font-size: #{$panel-header-font-size};
	--panel-header-line-height: #{$panel-header-line-height};
	--panel-header-padding-x: #{$panel-header-padding-x};
	--panel-header-padding-y: #{$panel-header-padding-y};
	--panel-header-collapse-icon-bottom: #{$panel-header-collapse-icon-bottom};
	--panel-header-collapse-icon-font-size: #{$panel-header-collapse-icon-font-size};
	--panel-header-collapse-icon-left: #{$panel-header-collapse-icon-left};
	--panel-header-collapse-icon-right: #{$panel-header-collapse-icon-right};
	--panel-header-collapse-icon-top: #{$panel-header-collapse-icon-top};
	--panel-header-collapse-icon-padding-lef: #{$panel-header-collapse-icon-padding-left};
	--panel-header-collapse-icon-padding-right: #{$panel-header-collapse-icon-padding-right};
	--panel-body-panel-body-padding-x: #{$panel-body-padding-x};
	--panel-body-panel-body-padding-y: #{$panel-body-padding-y};
	--panel-footer-panel-footer-border-top-width: #{$panel-footer-border-top-width};
	--panel-footer-offset-border-radius: #{$panel-footer-offset-border-radius};
	--panel-footer-padding-x: #{$panel-footer-padding-x};
	--panel-footer-padding-y: #{$panel-footer-padding-y};
	--panel-title-font-size: #{$panel-title-font-size};
	--panel-title-font-weight: #{$panel-title-font-weight};
	--panel-title-text-transform: #{$panel-title-text-transform};
	--panel-title-small-font-size: #{$panel-title-small-font-size};
	--panel-title-small-margin-left: #{$panel-title-small-margin-left};
	--panel-group-panel-margin-bottom: #{$panel-group-panel-margin-bottom};
	--panel-group-flush-body-margin-bottom: #{$panel-group-flush-body-margin-bottom};
	--panel-group-flush-body-padding: #{$panel-group-flush-body-padding};
	--panel-group-flush-collapse-icon-left: #{$panel-group-flush-collapse-icon-left};
	--panel-group-flush-collapse-icon-right: #{$panel-group-flush-collapse-icon-right};
	--panel-group-flush-collapse-icon-padding-left: #{$panel-group-flush-collapse-icon-padding-left};
	--panel-group-flush-collapse-icon-padding-right: #{$panel-group-flush-collapse-icon-padding-right};
	--clay-range-disabled-color: #{$clay-range-disabled-color};
	--sticker-border-radius: #{$sticker-border-radius};
	--sticker-border-style: #{$sticker-border-style};
	--sticker-border-width: #{$sticker-border-width};
	--sticker-color: #{$sticker-color};
	--sticker-font-size: #{$sticker-font-size};
	--sticker-font-weight: #{$sticker-font-weight};
	--sticker-size: #{$sticker-size};
	--sticker-primary-bg: #{$sticker-primary-bg};
	--sticker-primary-border-color: #{$sticker-primary-border-color};
	--sticker-primary-color: #{$sticker-primary-color};
	--sticker-secondary-bg: #{$sticker-secondary-bg};
	--sticker-secondary-border-color: #{$sticker-secondary-border-color};
	--sticker-secondary-color: #{$sticker-secondary-color};
	--sticker-info-bg: #{$sticker-info-bg};
	--sticker-info-border-color: #{$sticker-info-border-color};
	--sticker-info-color: #{$sticker-info-color};
	--sticker-success-bg: #{$sticker-success-bg};
	--sticker-success-border-color: #{$sticker-success-border-color};
	--sticker-success-color: #{$sticker-success-color};
	--sticker-warning-bg: #{$sticker-warning-bg};
	--sticker-warning-border-color: #{$sticker-warning-border-color};
	--sticker-warning-color: #{$sticker-warning-color};
	--sticker-danger-bg: #{$sticker-danger-bg};
	--sticker-danger-border-color: #{$sticker-danger-border-color};
	--sticker-danger-color: #{$sticker-danger-color};
	--sticker-light-bg: #{$sticker-light-bg};
	--sticker-light-border-color: #{$sticker-light-border-color};
	--sticker-light-color: #{$sticker-light-color};
	--sticker-dark-bg: #{$sticker-dark-bg};
	--sticker-dark-border-color: #{$sticker-dark-border-color};
	--sticker-dark-color: #{$sticker-dark-color};
}
