$custom-control-indicator-bg: var(
	--custom-control-indicator-background-color,
	$white
) !default;
$custom-control-indicator-border-color: var(
	--custom-control-indicator-border-color,
	$gray-600
) !default;
$custom-control-indicator-border-style: solid !default;
$custom-control-indicator-border-width: var(
	--custom-control-indicator-border-width,
	0.0625rem
) !default;
$custom-control-indicator-box-shadow: var(
	--custom-control-indicator-box-shadow,
	none
) !default;
$custom-control-indicator-position-top: var(
	--custom-control-indicator-position-top,
	0
) !default;

$custom-control-indicator-focus-border-color: var(
	--custom-control-indicator-focus-border-color,
	$custom-control-indicator-border-color
) !default;
$custom-control-indicator-focus-box-shadow: var(
	--custom-control-indicator-focus-box-shadow,
	$component-focus-box-shadow
) !default;

$custom-control-indicator-active-bg: var(
	--custom-control-indicator-active-background-color,
	$white
) !default;
$custom-control-indicator-active-border-color: var(
	--custom-control-indicator-active-border-color,
	$custom-control-indicator-border-color
) !default;
$custom-control-indicator-active-box-shadow: var(
	--custom-control-indicator-active-box-shadow,
	none
) !default;

$custom-control-indicator-disabled-bg: var(
	--custom-control-indicator-disabled-background-color,
	$input-disabled-bg
) !default;
$custom-control-indicator-disabled-border-color: var(
	--custom-control-indicator-disabled-border-color,
	$secondary-l3
) !default;

// Custom Control Indicator Checked

$custom-control-indicator-checked-bg: var(
	--custom-control-indicator-checked-background-color,
	$component-active-bg
) !default;
$custom-control-indicator-checked-border-color: var(
	--custom-control-indicator-checked-border-color,
	$component-active-bg
) !default;
$custom-control-indicator-checked-box-shadow: var(
	--custom-control-indicator-checked-box-shadow,
	none
) !default;
$custom-control-indicator-checked-color: var(
	--custom-control-indicator-checked-color,
	$component-active-color
) !default;

$custom-control-indicator-checked-active-bg: var(
	--custom-control-indicator-checked-active-background-color,
	$component-active-bg
) !default;

$custom-control-indicator-checked-active-border-color: var(
	--custom-control-indicator-checked-active-border-color,
	$custom-control-indicator-checked-active-bg
) !default;

$custom-control-indicator-checked-disabled-bg: var(
	--custom-control-indicator-checked-disabled-background-color,
	unquote(
		'rgb( from var(--custom-control-indicator-checked-background-color) r g b / 0.5)'
	)
) !default;

$custom-control-indicator-checked-disabled-border-color: var(
	--custom-control-indicator-checked-disabled-border-color,
	$custom-control-indicator-checked-disabled-bg
) !default;

// .custom-control

// @deprecated after of v3.5.0 use the Sass map `$custom-control` instead

$custom-control-margin-bottom: 0.5rem !default;

// Custom Control Description

// @deprecated as of v2.19.0 use the Sass map `$custom-control-label` instead

$custom-control-description-font-size: if(
	variable-exists(input-label-font-size),
	$input-label-font-size,
	0.875rem
) !default; // 13px

// @deprecated as of v2.19.0 use the Sass map `$custom-control-label` instead

$custom-control-description-font-weight: $font-weight-normal !default;

// @deprecated as of v2.19.0 use the Sass map `$custom-control-label-disabled` instead. This variable is not used in Clay CSS.

$custom-control-label-disabled-color: if(
	variable-exists(input-label-disabled-color),
	$input-label-disabled-color,
	$gray-500
) !default;

// @deprecated as of v2.19.0 use the Sass map `$custom-control-label-text-small` instead

$custom-control-description-small-font-size: 100% !default;

$custom-checkbox-indicator-border-radius: var(
	--custom-checkbox-indicator-border-radius,
	0.125rem
) !default;

$custom-checkbox-indicator-icon-checked: var(
	--custom-checkbox-indicator-icon-checked,
	clay-icon(check-small, $custom-control-indicator-checked-color)
) !default;
$custom-checkbox-indicator-icon-checked-bg-size: var(
	--custom-checkbox-indicator-icon-checked-background-size,
	1rem
) !default;

$custom-checkbox-indicator-indeterminate-bg: var(
	--custom-checkbox-indicator-indeterminate-background-color,
	$custom-control-indicator-checked-bg
) !default;
$custom-checkbox-indicator-indeterminate-border-color: var(
	--custom-checkbox-indicator-indeterminate-border-color,
	$custom-checkbox-indicator-indeterminate-bg
) !default;
$custom-checkbox-indicator-indeterminate-box-shadow: var(
	--custom-checkbox-indicator-indeterminate-box-shadow,
	none
) !default;
$custom-checkbox-indicator-indeterminate-color: var(
	--custom-checkbox-indicator-indeterminate-color,
	$custom-control-indicator-checked-color
) !default;

$custom-checkbox-indicator-icon-indeterminate: var(
	--custom-checkbox-indicator-icon-indeterminate,
	clay-icon(hr, $custom-checkbox-indicator-indeterminate-color)
) !default;
$custom-checkbox-indicator-icon-indeterminate-bg-size: null !default;
